html,
body {
  
  padding: 0;
  margin: 0;
  /* get better font */
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(45deg,#03045E 20%, #062f88 50% ,#0094d8);
  width: 100vw;
  height: 100vh;
  
}

a {
  color: inherit;
  text-decoration: none;

}


h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;

}

.outerWrapper {
  position:absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%,-20%);
  width:50vw;
  height:50vh;
  color:#90E0EF;
  background: linear-gradient(rgba(245, 245, 245, 0.205), rgba(255, 255, 255, 0.315));
  border-radius: 5%;
}


.innerWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-height:100%;
  max-width: 100%;

}

.secondRow {
  grid-column-start: 1;
  grid-column-end: 3;

}

.thirdRow {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.forecastContainer {
  text-align: center;
}

.weatherSymbol {
  max-height: 100%;
}
