@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  
  padding: 0;
  margin: 0;
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(45deg,#03045E 20%, #062f88 50% ,#0280bb);
  width: 100vw;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;

}


h1 {
  margin-top: .5rem;
  margin-bottom: .5rem;
  text-align: center;

}

h3{
  line-height: 1;
  font-size: 1.2rem;
}

div{
  font-size: 1rem;
}


.outerWrapper {
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width:60vw;
  height:95vh;
  color:#a8eefa;
  background: linear-gradient(45deg,rgba(245, 245, 245, 0.2) 5%, rgba(245, 245, 245, 0.15), 15%, rgba(245, 245, 245, 0.25), 70%,rgba(245, 245, 245, 0.08), 90%, rgba(245, 245, 245, 0.15) );
  border-radius: 3%;
}



.innerWrapper {
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height:100%;
  width: 100%;
}

.secondRow {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.thirdRow {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.forecastContainer {
  text-align: center;
}

.weatherSymbol {
  position: relative;
  height: 100%;
  text-align: center;
  top:10%;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.basicInfos {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;

}

.gap {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.bottomFill{
  margin-top: 5rem;
}

@media (max-width: 530px) {
  h3{
    font-size: 1rem;
  }
  
  div{
    font-size: 0.75rem;
  }
}

@media (max-width: 380px) {
  h3{
    font-size: 0.75rem;
  }
  
  div{
    font-size: 0.5rem;
  }
}

@media (orientation:landscape) and (max-height: 500px){
  h3{
    font-size: 0.75rem;
  }
  
  div{
    font-size: 0.5rem;
  }
}

